/* ------- Top Navigation Bar ------- */

.top-row-spacing {
    color: rgba(64, 64, 64, 0.3);
    display: flex;
    margin-right: 0;
    background-color: #F7F7F7;
    top: 0;
    z-index: 10;
    height: 4%;
    padding-top: .75%;
    padding-bottom: .75%;
    margin-bottom: 0;
    font-family: Monaco;
    position: sticky;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}

.left-top-row {
    display: flex;
    flex: 1.25;
    justify-content: center;
    align-items: center;
    font-family: Monaco;
    font-weight: bold;
}

.right-top-row {
    color: rgba(64, 64, 64, 0.3);
    overflow-x: auto;
    flex: 5;
    gap: 8%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    font-family: Monaco;
    padding-left: 3%;
}

.top-row-bttn {
    font-size: 20px;
    cursor: pointer;
    border: none;
    position: relative;
    background: none;
}

.top-row-bttn:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.hline-top {
    height: .03px;
}

/* ------- Main Body Content ------- */

.page-grid {
    display: flex;
    align-items: stretch; 
}

.left-column {
    display: flex;
    flex-direction: column;
    flex: 1.25;
    overflow: visible;
    min-height: 0;
}

.right-column {
    display: flex;
    flex-direction: column;
    flex: 5;
    margin-right: 3%;
    margin-left: 3%;
}

.logo-section-sticky {
    position: sticky;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    flex-direction: column;
    display: flex;
    top: 54px;
    z-index: 5;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.logo-image {
    width: 100%;
    height: auto;
    align-items: center;
}

@media (max-width: 600px) {
  .logo-image {
    width: 60%;   /* shrink on phones */
    max-width: 300px;
    align-items: center;
  }
}

.logo-writing {
    padding-top: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10%;
    height: auto;
    display: flex;
}

.sticky-links {
    flex-direction: row;
    padding-top: 15px;
    align-items: center;
    padding: 10%;
    height: auto;
    display: flex;
    transition: transform 0.2s ease;
    display: inline-block; 
}

.mini-logo{
    min-width: 25px;
    width: 15%;
    height: auto;
    margin-right: 7%;
}

.image-home {
    height: auto;
    width: 100%;
    flex: 5;
    border-radius: 4px;
    margin: 1.5%;
}

.about-home {
    flex: 5;  
    margin: 1.5%;
    padding: 1%;
    height: 200px;
    margin-right: 10px;  
    margin-bottom: 10px;  
}

.bottom-contact-container {
    height: 100%;
    margin: 3%;
    border-radius: 4px;
    z-index: -1;
}

/* ------- Projects Page ------- */

.overview-projects {
    height: 150px;
    width: 100%;
    padding: 10px;
    grid-column: 2;
}

.project-container-1 {
    height: auto;
    flex: 5;
    margin: 1.5%;
}

@media (max-width: 600px) {
  .project-container-1 {
    height: auto;
  }
}

.project-picture{
    padding: 4px;
    width: 20%;
    border-bottom: solid black 1px;
    height: auto;
    object-fit: contain;
    object-fit: cover;
    flex-shrink: 0;  
}

.project-container-2 {
    height: 150px;
    width: 100%;
    padding: 10px;
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.italic-title {
    font-style: italic;
}

/* ------- Publications Page ------- */

.publications-container-1 {
    height: auto;
    flex: 5;
    margin: 1.5%;
    gap: 1em;
    display: flex;
    align-items: flex-start;
}

@media (max-width: 600px) {
  .publications-container-1 {
    height: auto;
    width: 100%;
    padding: 10px;
    grid-column: 2;
    margin: 3%;
    gap: 1em;
    display: flex;
    align-items: flex-start;
  }
}

.publications-picture{
    padding: 4px;
    width: 30%;
    height: auto;
    border-radius: 1px;
    object-fit: contain;
    object-fit: cover;
    flex-shrink: 0;  
}

.publications-container-2 {
    background: #d9d9d980;
    border-radius: 15px;
    height: 200px;
    width: 100%;
    padding: 10px;
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* ------- Software Page -------- */

.software-container-1 {
    height: auto;
    flex: 5;
    margin: 1.5%;
    gap: 1em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.software-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    font-size: 1.5rem;
    border-bottom: solid black 1px;
}

.software-picture{
    padding: 4px;
    width: 30%;
    height: auto;
    border-radius: 1px;
    object-fit: contain;
    object-fit: cover;
    flex-shrink: 0;  
}

.software-description {
    display: flex;
    flex-direction: column;
}

.software-container-2 {
    background: #d9d9d980;
    border-radius: 15px;
    height: 200px;
    width: 100%;
    padding: 10px;
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* ------- Team Page ------- */

.supervisor-container {
    height: auto;
    flex: 5;
    margin: 1.5%;
    gap: 1em;
    display: flex;
    align-items: flex-start;
}

.team-container-1 {
    height: auto;
    padding: 10px;
    flex: 5;
    margin: 1.5%;
    gap: 1em;
    display: flex;
    align-items: flex-start;
}

@media (max-width: 600px) {
  .team-container-1 {
    height: auto;
  }
}

.picture-container {
    padding: 4px;
    border: 2px solid #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    width: 70%;
    height: auto;
    max-width: 175px;
    border-radius: 3px;
    object-fit: contain;
    object-fit: cover;
    flex-shrink: 0;
}

@media (max-width: 600px) {
  .picture-container {
    width: 40%;   /* shrink on phones */
    max-width: 150px;
  }
}

.picture-description {
  font-size: 1rem;
}

.text-block {
  display: flex;
  flex-direction: column; 
}

.team-container-2 {
    background: #bfd4e2;
    border-radius: 15px;
    height: 200px;
    width: 100%;
    padding: 5px;
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* ------- General CSS Calls ------- */

body {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    color: black;
    background-color: #F7F7F7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #5d5d5d, transparent);
  margin: 1.5em 0;
  grid-column: 2;
} 

a {
    color: black;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.semi-opaque {
    color: rgba(64, 64, 64, 0.9);
    margin: 0;
    height: 4%;
}

